#body{
    font-family: 'Jost', sans-serif;
    background-image: url(https://th.bing.com/th/id/R.e8c3c65956ffc4efabc89727c27ce13d?rik=d21u%2fQJ1zf6iWQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fab7sX4F.jpg&ehk=ITEaYphxvFP0k9%2fwmdpEfCToLg2%2fSVy8DKnSRi45cd0%3d&risl=&pid=ImgRaw&r=0);
}   
#ul li{
    display: inline;
    margin: 50px;

}

#b1, #b2, #b3, #b4{
    background-color: lightseagreen;
}

#name1{
    text-align: center;
}

#about{
    text-align: center;
}

#tab1{
    border: 30px;
}

#table{
    margin: 150px;
}


#social li {
    display: inline;
    margin: 20px;
}



